@charset "UTF-8";
/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/*pie-clearfix用の読み込み*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

button, select, input[type="text"], input[type="email"], input[type="password"], input[type="search"], input[type="submit"] { -webkit-appearance: none; border-radius: 0; }

body { color: #333; font-size: 14px; font-family: "游明朝",YuMincho,"Yu Mincho","Hiragino Mincho ProN","ヒラギノ明朝 ProN W6","HiraMinProN-W6","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",serif; line-height: 1.25; letter-spacing: 0.05em; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.heading, .heading--title { font-size: 23px; text-align: center; margin-bottom: 60px; }
.heading--title span { display: block; margin: 30px auto 0; width: 70px; border-bottom: 1px solid #333; height: 1px; }
.heading--description { text-align: center; line-height: 2; margin-bottom: 50px; }
.heading--attention { text-align: center; font-size: 12px; margin-bottom: 40px; }

.txt-red { color: #FF0000; margin-right: 5px; }

.section__title { color: #8B7B8B; font-size: 18px; margin-bottom: 15px; }

.section__description { font-size: 13px; margin-bottom: 30px; line-height: 1.5; }
.section__description:last-child { margin-bottom: 0; }

@media (max-width: 767px) { .heading, .heading--title { font-size: 16px; margin-bottom: 20px; }
  .heading--title span { margin: 20px auto 0; width: 50px; }
  .heading--description { font-size: 13px; line-height: 1.8; margin-bottom: 20px; }
  .heading--attention { font-size: 10px; margin-bottom: 30px; }
  .section__title { font-size: 14px; margin-bottom: 15px; }
  .section__description { font-size: 10px; margin-bottom: 20px; } }
.bg-light-gray { background-color: #EDEDED; }

.container { *zoom: 1; position: relative; margin: 0; }
.container:after { content: ""; display: table; clear: both; }
@media (min-width: 870px) { .container { margin: 0 auto; width: 850px; } }
@media (max-width: 869px) { .container { margin: 0 25px; } }

.container--wide { *zoom: 1; position: relative; margin: 0; width: 100%; }
.container--wide:after { content: ""; display: table; clear: both; }

.global-header { *zoom: 1; }
.global-header:after { content: ""; display: table; clear: both; }
.global-header__logo { display: inline-block; background-color: #8B7B8B; }
.global-header__logo:hover { transition: 0.3s; opacity: 0.8; }
.global-header__logo a { color: #fff; text-decoration: none; line-height: 50px; display: block; font-size: 18px; padding: 0 15px; }

.global-nav { *zoom: 1; float: right; }
.global-nav:after { content: ""; display: table; clear: both; }
.global-nav__item { float: left; box-sizing: border-box; height: 50px; }
.global-nav__item:hover { border-bottom: 2px solid #8B7B8B; }
.global-nav__item a { text-decoration: none; color: #333; line-height: 50px; display: block; font-size: 18px; padding: 0 20px; }
.global-nav__item a:hover { transition: 0.3s; color: #8B7B8B; }

@media (max-width: 767px) { .global-header__logo a { font-size: 12px; padding: 0 20px; }
  .global-nav { float: none; }
  .global-nav__item { float: none; height: 50px; }
  .global-nav__item:hover { border-bottom: none; }
  .global-nav__item a { color: #fff; font-size: 14px; padding: 0 20px; } }
.global-footer { color: #fff; }
.global-footer a { text-decoration: none; color: #fff; }
.global-footer__content { text-align: center; background-color: rgba(74, 74, 74, 0.7); padding: 40px 0 30px; }
.global-footer__button { font-size: 20px; }
.global-footer__button a { margin: 0 auto; padding: 18px 0; box-sizing: border-box; border: #fff 1px solid; display: block; width: 500px; border-radius: 3px; background-image: url('/images/mail.svg?1482395536'); background-repeat: no-repeat; background-position: left  25% center; background-size: 28px; }
.global-footer__button a:hover { transition: 0.3s; background-color: #333; }
.global-footer__number { text-align: center; margin-top: 20px; }
.global-footer__number p { display: inline-block; font-size: 25px; }
.global-footer__number p:first-child { font-size: 16px; margin: 5px 7px 0 0; vertical-align: top; }
.global-footer__number small { font-size: 12px; vertical-align: top; display: inline-block; margin: 8px 0 0 12px; }
.global-footer__bar { *zoom: 1; background-color: #4A4A4A; font-size: 12px; padding: 7px 20px; }
.global-footer__bar:after { content: ""; display: table; clear: both; }
.global-footer__bar a { float: left; display: block; }
.global-footer__bar a:hover { opacity: 0.7; }
.global-footer__bar small { float: right; display: block; }
.global-footer__facebook { margin-left: 20px; }

@media (max-width: 767px) { .global-footer__content { padding: 40px 25px 30px; }
  .global-footer__button { font-size: 14px; }
  .global-footer__button a { padding: 18px 0; width: 100%; background-position: left  17% center; background-size: 20px; }
  .global-footer__number { margin-top: 20px; }
  .global-footer__number p { display: inline-block; font-size: 18px; }
  .global-footer__number p:first-child { font-size: 13px; margin: 4px 7px 0 0; }
  .global-footer__number small { display: block; font-size: 10px; margin: 8px 0 0; }
  .global-footer__bar { text-align: center; font-size: 10px; padding: 15px 0; }
  .global-footer__bar a { float: none; margin-bottom: 10px; }
  .global-footer__bar small { float: none; }
  .global-footer__facebook { margin-left: 0; } }
.heading--top { background-image: url('/images/top.jpg?1482225303'); background-repeat: no-repeat; background-size: cover; background-position: center; height: 400px; color: #fff; box-sizing: border-box; padding-top: 250px; text-align: center; }
.heading--top__small { font-size: 28px; }
.heading--top__large { font-size: 51px; }

.wedding { padding: 60px 0; text-align: center; background-image: url('/images/w-photo.jpg?1482225303'); background-repeat: no-repeat; background-size: contain; background-position: right; }
.wedding__title { font-size: 23px; line-height: 1.8; margin-bottom: 30px; }
.wedding__narration { line-height: 1.5; font-size: 13px; }

.wide { float: left; display: block; color: #fff; text-decoration: none; width: 33.333%; height: 400px; background-repeat: no-repeat; background-size: cover; background-position: center; }
.wide:hover { transition: 0.3s; opacity: 0.8; }
.wide__box { position: absolute; box-sizing: border-box; width: 33.333%; bottom: 0; background-color: rgba(0, 0, 0, 0.5); padding: 30px; }
.wide__title { line-height: 1.8; }

.img--left { background-image: url('/images/work1.jpg?1482225303'); }

.img--center { background-image: url('/images/work2.jpg?1482225303'); }

.img--right { background-image: url('/images/work3.jpg?1482225303'); }

.section__content { *zoom: 1; padding: 60px 0 80px; margin: 0 auto; }
.section__content:after { content: ""; display: table; clear: both; }

.flow__item { float: left; width: 31.7%; }
.flow__item:nth-child(2) { margin: 0 20px; }
.flow__number { margin: 0 auto 20px; border: 1px solid #333; box-sizing: border-box; font-size: 22px; padding: 7px 12px; width: 40px; height: 40px; border-radius: 50%; }
.flow__box { background-color: #fff; height: 350px; box-sizing: border-box; padding: 15px; }
.flow__img { width: 100%; height: 200px; margin-bottom: 15px; background-size: cover; background-repeat: no-repeat; background-position: center; }
.flow--1 { background-image: url('/images/flow1.jpg?1482225303'); }
.flow--2 { background-image: url('/images/flow2.jpg?1482225303'); }
.flow--3 { background-image: url('/images/flow3.jpg?1482225303'); }
.flow__text { line-height: 1.5; font-size: 13px; }

@media (max-width: 767px) { .heading--top { height: 250px; padding-top: 163px; }
  .heading--top__small { font-size: 14px; }
  .heading--top__large { font-size: 25px; }
  .wedding { padding: 60px 0; background-image: none; margin: 0 25px; }
  .wedding__title { font-size: 16px; line-height: 1.5; }
  .wedding__narration { font-size: 12px; }
  .wide { position: relative; float: none; width: 100%; height: 330px; }
  .wide__box { position: absolute; width: 100%; bottom: 0; padding: 30px; }
  .section__content { padding: 50px 0; }
  .flow__item { float: none; width: 100%; margin-bottom: 30px; }
  .flow__item:nth-child(2) { margin: 0 0 30px; }
  .flow__item:last-child { margin: 0; } }
.gallery { *zoom: 1; }
.gallery:after { content: ""; display: table; clear: both; }
.gallery__item { width: 31.334%; float: left; margin-right: 3%; margin-bottom: 160px; }
.gallery__item:nth-child(3n) { margin-right: 0; }
.gallery__link { position: relative; color: #333; display: block; text-decoration: none; height: 250px; background-repeat: no-repeat; background-size: cover; background-position: center; }
.gallery__box { position: absolute; display: block; width: 100%; box-sizing: border-box; bottom: -135px; background-color: #fff; padding: 30px; }
.gallery__box:hover { color: #fff; background-color: #333; }
.gallery__title { line-height: 1.8; }

.g-img, .g-1, .g-2, .g-3 { background-repeat: no-repeat; background-position: center; background-size: 150% auto; }
.g-img:hover, .g-1:hover, .g-2:hover, .g-3:hover { transition: 0.3s; background-size: 165% auto; }

.g-1 { background-image: url('/images/work1.jpg?1482225303'); }

.g-2 { background-image: url('/images/work2.jpg?1482225303'); }

.g-3 { background-image: url('/images/work3.jpg?1482225303'); }

.works--top { *zoom: 1; }
.works--top:after { content: ""; display: table; clear: both; }
.works--top__img { float: left; width: 53%; height: 330px; background-image: url('/images/work2.jpg?1482225303'); background-repeat: no-repeat; background-size: cover; background-position: center; }
.works--top__content { float: right; width: 40%; font-size: 13px; }
.works--top__day { font-size: 16px; margin-bottom: 17px; }
.works--top__name { font-size: 16px; }
.works--top__text { text-align: justify; line-height: 2; margin-top: 20px; font-size: 12px; }

.works { *zoom: 1; margin-top: 80px; }
.works:after { content: ""; display: table; clear: both; }
.works__item { width: 22%; float: left; margin-right: 3.9%; margin-bottom: 35px; }
.works__item:nth-child(4n) { margin-right: 0; }
.works__img { width: 190px; height: 190px; background-image: url('/images/work1.jpg?1482225303'); background-position: center; background-repeat: no-repeat; background-size: cover; }
.works__img:hover { transition: 0.3s; opacity: 0.8; }

@media (max-width: 767px) { .gallery__item { width: 100%; float: none; margin-right: 0; margin-bottom: 30px; }
  .gallery__item:nth-child(3n) { margin-right: 0; margin-bottom: 30px; }
  .gallery__item:last-child { margin-bottom: 0; }
  .gallery__link { height: 320px; }
  .gallery__box { bottom: 0; padding: 20px; }
  .gallery__title { font-size: 12px; line-height: 1.8; }
  .g-img, .g-1, .g-2, .g-3 { background-size: cover; }
  .works--top__img { float: none; width: 100%; height: 250px; background-image: url('/images/work2.jpg?1482225303'); }
  .works--top__content { float: none; width: 100%; font-size: 12px; margin-top: 20px; }
  .works--top__day { font-size: 14px; margin-bottom: 10px; }
  .works--top__name { font-size: 13px; }
  .works--top__text { line-height: 1.7; margin-top: 10px; font-size: 10px; }
  .works { margin-top: 30px; }
  .works__item { width: 48%; float: left; margin-right: 2%; margin-bottom: 20px; }
  .works__item:nth-child(2n) { margin-right: 0; }
  .works__item:nth-child(4n) { margin-right: 0; }
  .works__img { width: 100%; height: 150px; background-image: url('/images/work1.jpg?1482225303'); } }
.profile { *zoom: 1; }
.profile:after { content: ""; display: table; clear: both; }
.profile__img { float: left; width: 45%; height: 400px; background-image: url('/images/profile.jpg?1482399037'); background-repeat: no-repeat; background-size: cover; background-position: center; }
.profile__content { float: right; width: 45%; margin-top: 10%; font-size: 13px; }
.profile__name { display: inline-block; font-size: 25px; margin-right: 35px; }
.profile__read { font-size: 16px; display: inline-block; vertical-align: top; margin-top: 5px; }
.profile__text { text-align: justify; line-height: 2; margin-top: 40px; }

.menu__item { float: left; width: 31%; line-height: 1.5; text-align: justify; }
.menu__item:nth-child(2) { margin: 0 3%; }
.menu__title { font-size: 18px; text-align: center; }
.menu__img { background-image: url('/images/menu1.jpg?1482399067'); background-position: center; background-size: cover; background-repeat: no-repeat; height: 230px; margin: 30px 0 20px; }
.menu__price { font-size: 18px; }
.menu__price span { display: block; margin: 10px 0 15px; width: 40px; border-bottom: 1px solid #333; height: 1px; }
.menu__description { font-size: 13px; }
.menu__content { margin-top: 15px; font-size: 11px; }

@media (max-width: 767px) { .profile__img { float: none; width: 100%; height: 230px; }
  .profile__content { float: none; width: 100%; margin-top: 20px; font-size: 12px; }
  .profile__name { display: block; font-size: 16px; margin-right: 0; }
  .profile__read { font-size: 10px; display: block; margin-top: 8px; }
  .profile__text { line-height: 1.8; margin-top: 15px; }
  .menu__item { float: none; width: 100%; line-height: 1.5; margin-bottom: 30px; }
  .menu__item:nth-child(2) { margin: 0 0 30px; }
  .menu__item:last-child { margin: 0; }
  .menu__title { font-size: 15px; }
  .menu__img { background-image: url('/images/menu1.jpg?1482399067'); height: 200px; margin: 15px 0; }
  .menu__price { font-size: 14px; }
  .menu__price span { margin: 10px 0 15px; width: 40px; }
  .menu__description { font-size: 12px; }
  .menu__content { margin-top: 10px; font-size: 10px; line-height: 1.6; } }
.form { margin: 0 auto; }
.form__title { text-align: right; }
.form__box { display: block; padding: 10px 0; margin-left: 50px; }
.form__text, .form__time, .form__select, .form__textarea { display: block; height: 40px; width: 500px; border: 1px solid rgba(51, 51, 51, 0.7); box-sizing: border-box; padding: 10px; font-size: 13px; }
.form__time { width: 70px; display: inline-block; margin: 0 10px; }
.form__time:first-child { margin: 0 10px 0 0; }
.form__select { background-image: url('/images/arrow--bottom.svg?1482584143'); background-repeat: no-repeat; background-position: right 10px center; }
.form__textarea { height: auto; }
.form__personal { text-align: center; margin: 30px 0; }
.form__personal a { margin-left: 10px; color: #3D98FF; }
.form__submit { display: block; margin: 0 auto; box-sizing: border-box; border: 1px solid rgba(51, 51, 51, 0.7); height: 50px; background-color: #fff; width: 200px; font-size: 16px; }
.form__submit:hover { color: #fff; transition: 0.3s; background-color: #333; }

table { margin: 0 auto; }

@media (max-width: 767px) { .form__title { display: block; text-align: left; }
  .form__box { font-size: 10px; padding: 10px 0 20px; margin-left: 0; }
  .form__text, .form__time, .form__select, .form__textarea { width: 100%; padding: 5px; font-size: 12px; }
  .form__time { width: 70px; margin: 0 5px; }
  .form__time:first-child, .form__time:nth-child(4) { margin: 10px 5px 0 0; }
  .form__select { background-position: right 10px center; }
  .form__personal { margin: 0 0 20px; line-height: 2; font-size: 12px; }
  .form__personal a { margin-left: 10px; }
  .form__submit { height: 40px; width: 200px; font-size: 14px; }
  #checkbox-p { margin: 0; } }
#pageTop { position: fixed; bottom: 20px; right: 20px; }

#pageTop a { display: block; z-index: 999; padding: 8px 0 0 8px; width: 50px; height: 50px; background-color: #333; background-image: url('/images/arrow--top.svg?1482846780'); background-repeat: no-repeat; background-position: center; }

#pageTop a:hover { text-decoration: none; opacity: 0.7; }

@media (max-width: 767px) { .hamburger { display: block; width: 50px; height: 50px; position: fixed; top: 0; left: 0; z-index: 10000; padding: 12px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-tap-highlight-color: transparent; -webkit-tap-highlight-color: transparent; -ms-touch-action: manipulation; touch-action: manipulation; }
  .hamburger__icon { position: relative; margin-top: 7px; margin-bottom: 7px; }
  .hamburger__icon, .hamburger__icon:before, .hamburger__icon:after { display: block; width: 25px; height: 2px; background-color: #222; -moz-transition-property: background-color, -moz-transform; -o-transition-property: background-color, -o-transform; -webkit-transition-property: background-color, -webkit-transform; transition-property: background-color, transform; -moz-transition-duration: 0.4s; -o-transition-duration: 0.4s; -webkit-transition-duration: 0.4s; transition-duration: 0.4s; }
  .hamburger__icon:before, .hamburger__icon:after { position: absolute; content: ""; }
  .hamburger__icon:before { top: -7px; }
  .hamburger__icon:after { top: 7px; }
  .hamburger.active .hamburger__icon { background-color: transparent; }
  .hamburger.active .hamburger__icon:before, .hamburger.active .hamburger__icon:after { background-color: #fff; }
  .hamburger.active .hamburger__icon:before { -moz-transform: translateY(7px) rotate(45deg); -ms-transform: translateY(7px) rotate(45deg); -webkit-transform: translateY(7px) rotate(45deg); transform: translateY(7px) rotate(45deg); }
  .hamburger.active .hamburger__icon:after { -moz-transform: translateY(-7px) rotate(-45deg); -ms-transform: translateY(-7px) rotate(-45deg); -webkit-transform: translateY(-7px) rotate(-45deg); transform: translateY(-7px) rotate(-45deg); }
  .hamburger .hamburger__icon, .hamburger .hamburger__icon:before, .hamburger .hamburger__icon:after { background-color: red; }
  .fat-nav { top: 0; left: 0; z-index: 9999; position: fixed; display: none; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); -moz-transform: scale(1.4); -ms-transform: scale(1.4); -webkit-transform: scale(1.4); transform: scale(1.4); -moz-transition-property: -moz-transform; -o-transition-property: -o-transform; -webkit-transition-property: -webkit-transform; transition-property: transform; -moz-transition-duration: 0.4s; -o-transition-duration: 0.4s; -webkit-transition-duration: 0.4s; transition-duration: 0.4s; overflow-y: auto; overflow-x: hidden; -webkit-overflow-scrolling: touch; }
  .fat-nav__wrapper { width: 100%; height: 100%; display: table; table-layout: fixed; }
  .fat-nav.active { -moz-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); }
  .fat-nav ul { display: table-cell; vertical-align: middle; margin: 0; padding: 0; }
  .fat-nav li { list-style-type: none; text-align: center; padding: 10px; font-size: 2em; }
  .fat-nav li, .fat-nav li a { color: #fff; }
  .fat-nav li a { text-decoration: none; } }
/* Preload images */
body:after { content: url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png); display: none; }

body.lb-disable-scrolling { overflow: hidden; }

.lightboxOverlay { position: absolute; top: 0; left: 0; z-index: 9999; background-color: black; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; display: none; }

.lightbox { position: absolute; left: 0; width: 100%; z-index: 10000; text-align: center; line-height: 0; font-weight: normal; }

.lightbox .lb-image { display: block; height: auto; max-width: inherit; max-height: none; border-radius: 3px; /* Image border */ border: 4px solid white; }

.lightbox a img { border: none; }

.lb-outerContainer { position: relative; *zoom: 1; width: 250px; height: 250px; margin: 0 auto; border-radius: 4px; /* Background color behind image. This is visible during transitions. */ background-color: white; }

.lb-outerContainer:after { content: ""; display: table; clear: both; }

.lb-loader { position: absolute; top: 43%; left: 0; height: 25%; width: 100%; text-align: center; line-height: 0; }

.lb-cancel { display: block; width: 32px; height: 32px; margin: 0 auto; background: url(../images/loading.gif) no-repeat; }

.lb-nav { position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }

.lb-container > .nav { left: 0; }

.lb-nav a { outline: none; background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="); }

.lb-prev, .lb-next { height: 100%; cursor: pointer; display: block; }

.lb-nav a.lb-prev { width: 34%; left: 0; float: left; background: url(../images/prev.png) left 48% no-repeat; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: opacity 0.6s; -moz-transition: opacity 0.6s; -o-transition: opacity 0.6s; transition: opacity 0.6s; }

.lb-nav a.lb-prev:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

.lb-nav a.lb-next { width: 64%; right: 0; float: right; background: url(../images/next.png) right 48% no-repeat; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: opacity 0.6s; -moz-transition: opacity 0.6s; -o-transition: opacity 0.6s; transition: opacity 0.6s; }

.lb-nav a.lb-next:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

.lb-dataContainer { margin: 0 auto; padding-top: 5px; *zoom: 1; width: 100%; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

.lb-dataContainer:after { content: ""; display: table; clear: both; }

.lb-data { padding: 0 4px; color: #ccc; }

.lb-data .lb-details { width: 85%; float: left; text-align: left; line-height: 1.1em; }

.lb-data .lb-caption { font-size: 13px; font-weight: bold; line-height: 1em; }

.lb-data .lb-caption a { color: #4ae; }

.lb-data .lb-number { display: block; clear: left; padding-bottom: 1em; font-size: 12px; color: #999999; }

.lb-data .lb-close { display: block; float: right; width: 30px; height: 30px; background: url(../images/close.png) top right no-repeat; text-align: right; outline: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; -webkit-transition: opacity 0.2s; -moz-transition: opacity 0.2s; -o-transition: opacity 0.2s; transition: opacity 0.2s; }

.lb-data .lb-close:hover { cursor: pointer; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

/*!
 * animsition v4.0.2
 * A simple and easy jQuery plugin for CSS animated page transitions.
 * http://blivesta.github.io/animsition
 * License : MIT
 * Author : blivesta (http://blivesta.com/)
 */
.animsition, .animsition-overlay { position: relative; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

/** overlay option */
.animsition-overlay-slide { position: fixed; z-index: 1; width: 100%; height: 100%; background-color: #ddd; }

/* loading option */
.animsition-loading, .animsition-loading:after { width: 32px; height: 32px; position: fixed; top: 50%; left: 50%; margin-top: -16px; margin-left: -16px; border-radius: 50%; z-index: 100; }

.animsition-loading { background-color: transparent; border-top: 5px solid rgba(0, 0, 0, 0.2); border-right: 5px solid rgba(0, 0, 0, 0.2); border-bottom: 5px solid rgba(0, 0, 0, 0.2); border-left: 5px solid #eee; -webkit-transform: translateZ(0); transform: translateZ(0); -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-duration: .8s; animation-duration: .8s; -webkit-animation-name: animsition-loading; animation-name: animsition-loading; }

@-webkit-keyframes animsition-loading { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes animsition-loading { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@-webkit-keyframes fade-in { 0% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes fade-in { 0% { opacity: 0; }
  100% { opacity: 1; } }
.fade-in { -webkit-animation-name: fade-in; animation-name: fade-in; }

@-webkit-keyframes fade-out { 0% { opacity: 1; }
  100% { opacity: 0; } }
@keyframes fade-out { 0% { opacity: 1; }
  100% { opacity: 0; } }
.fade-out { -webkit-animation-name: fade-out; animation-name: fade-out; }

@-webkit-keyframes fade-in-up { 0% { -webkit-transform: translateY(500px); transform: translateY(500px); opacity: 0; }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; } }
@keyframes fade-in-up { 0% { -webkit-transform: translateY(500px); transform: translateY(500px); opacity: 0; }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; } }
.fade-in-up { -webkit-animation-name: fade-in-up; animation-name: fade-in-up; }

@-webkit-keyframes fade-out-up { 0% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  100% { -webkit-transform: translateY(-500px); transform: translateY(-500px); opacity: 0; } }
@keyframes fade-out-up { 0% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  100% { -webkit-transform: translateY(-500px); transform: translateY(-500px); opacity: 0; } }
.fade-out-up { -webkit-animation-name: fade-out-up; animation-name: fade-out-up; }

@-webkit-keyframes fade-in-up-sm { 0% { -webkit-transform: translateY(100px); transform: translateY(100px); opacity: 0; }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; } }
@keyframes fade-in-up-sm { 0% { -webkit-transform: translateY(100px); transform: translateY(100px); opacity: 0; }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; } }
.fade-in-up-sm { -webkit-animation-name: fade-in-up-sm; animation-name: fade-in-up-sm; }

@-webkit-keyframes fade-out-up-sm { 0% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  100% { -webkit-transform: translateY(-100px); transform: translateY(-100px); opacity: 0; } }
@keyframes fade-out-up-sm { 0% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  100% { -webkit-transform: translateY(-100px); transform: translateY(-100px); opacity: 0; } }
.fade-out-up-sm { -webkit-animation-name: fade-out-up-sm; animation-name: fade-out-up-sm; }

@-webkit-keyframes fade-in-up-lg { 0% { -webkit-transform: translateY(1000px); transform: translateY(1000px); opacity: 0; }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; } }
@keyframes fade-in-up-lg { 0% { -webkit-transform: translateY(1000px); transform: translateY(1000px); opacity: 0; }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; } }
.fade-in-up-lg { -webkit-animation-name: fade-in-up-lg; animation-name: fade-in-up-lg; }

@-webkit-keyframes fade-out-up-lg { 0% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  100% { -webkit-transform: translateY(-1000px); transform: translateY(-1000px); opacity: 0; } }
@keyframes fade-out-up-lg { 0% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  100% { -webkit-transform: translateY(-1000px); transform: translateY(-1000px); opacity: 0; } }
.fade-out-up-lg { -webkit-animation-name: fade-out-up-lg; animation-name: fade-out-up-lg; }

@-webkit-keyframes fade-in-down { 0% { -webkit-transform: translateY(-500px); transform: translateY(-500px); opacity: 0; }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; } }
@keyframes fade-in-down { 0% { -webkit-transform: translateY(-500px); transform: translateY(-500px); opacity: 0; }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; } }
.fade-in-down { -webkit-animation-name: fade-in-down; animation-name: fade-in-down; }

@-webkit-keyframes fade-out-down { 0% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  100% { -webkit-transform: translateY(500px); transform: translateY(500px); opacity: 0; } }
@keyframes fade-out-down { 0% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  100% { -webkit-transform: translateY(500px); transform: translateY(500px); opacity: 0; } }
.fade-out-down { -webkit-animation-name: fade-out-down; animation-name: fade-out-down; }

@-webkit-keyframes fade-in-down-sm { 0% { -webkit-transform: translateY(-100px); transform: translateY(-100px); opacity: 0; }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; } }
@keyframes fade-in-down-sm { 0% { -webkit-transform: translateY(-100px); transform: translateY(-100px); opacity: 0; }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; } }
.fade-in-down-sm { -webkit-animation-name: fade-in-down-sm; animation-name: fade-in-down-sm; }

@-webkit-keyframes fade-out-down-sm { 0% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  100% { -webkit-transform: translateY(100px); transform: translateY(100px); opacity: 0; } }
@keyframes fade-out-down-sm { 0% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  100% { -webkit-transform: translateY(100px); transform: translateY(100px); opacity: 0; } }
.fade-out-down-sm { -webkit-animation-name: fade-out-down-sm; animation-name: fade-out-down-sm; }

@-webkit-keyframes fade-in-down-lg { 0% { -webkit-transform: translateY(-1000px); transform: translateY(-1000px); opacity: 0; }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; } }
@keyframes fade-in-down-lg { 0% { -webkit-transform: translateY(-1000px); transform: translateY(-1000px); opacity: 0; }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; } }
.fade-in-down-lg { -webkit-animation-name: fade-in-down; animation-name: fade-in-down; }

@-webkit-keyframes fade-out-down-lg { 0% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  100% { -webkit-transform: translateY(1000px); transform: translateY(1000px); opacity: 0; } }
@keyframes fade-out-down-lg { 0% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  100% { -webkit-transform: translateY(1000px); transform: translateY(1000px); opacity: 0; } }
.fade-out-down-lg { -webkit-animation-name: fade-out-down-lg; animation-name: fade-out-down-lg; }

@-webkit-keyframes fade-in-left { 0% { -webkit-transform: translateX(-500px); transform: translateX(-500px); opacity: 0; }
  100% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; } }
@keyframes fade-in-left { 0% { -webkit-transform: translateX(-500px); transform: translateX(-500px); opacity: 0; }
  100% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; } }
.fade-in-left { -webkit-animation-name: fade-in-left; animation-name: fade-in-left; }

@-webkit-keyframes fade-out-left { 0% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; }
  100% { -webkit-transform: translateX(-500px); transform: translateX(-500px); opacity: 0; } }
@keyframes fade-out-left { 0% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; }
  100% { -webkit-transform: translateX(-500px); transform: translateX(-500px); opacity: 0; } }
.fade-out-left { -webkit-animation-name: fade-out-left; animation-name: fade-out-left; }

@-webkit-keyframes fade-in-left-sm { 0% { -webkit-transform: translateX(-100px); transform: translateX(-100px); opacity: 0; }
  100% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; } }
@keyframes fade-in-left-sm { 0% { -webkit-transform: translateX(-100px); transform: translateX(-100px); opacity: 0; }
  100% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; } }
.fade-in-left-sm { -webkit-animation-name: fade-in-left-sm; animation-name: fade-in-left-sm; }

@-webkit-keyframes fade-out-left-sm { 0% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; }
  100% { -webkit-transform: translateX(-100px); transform: translateX(-100px); opacity: 0; } }
@keyframes fade-out-left-sm { 0% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; }
  100% { -webkit-transform: translateX(-100px); transform: translateX(-100px); opacity: 0; } }
.fade-out-left-sm { -webkit-animation-name: fade-out-left-sm; animation-name: fade-out-left-sm; }

@-webkit-keyframes fade-in-left-lg { 0% { -webkit-transform: translateX(-1500px); transform: translateX(-1500px); opacity: 0; }
  100% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; } }
@keyframes fade-in-left-lg { 0% { -webkit-transform: translateX(-1500px); transform: translateX(-1500px); opacity: 0; }
  100% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; } }
.fade-in-left-lg { -webkit-animation-name: fade-in-left-lg; animation-name: fade-in-left-lg; }

@-webkit-keyframes fade-out-left-lg { 0% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; }
  100% { -webkit-transform: translateX(-1500px); transform: translateX(-1500px); opacity: 0; } }
@keyframes fade-out-left-lg { 0% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; }
  100% { -webkit-transform: translateX(-1500px); transform: translateX(-1500px); opacity: 0; } }
.fade-out-left-lg { -webkit-animation-name: fade-out-left-lg; animation-name: fade-out-left-lg; }

@-webkit-keyframes fade-in-right { 0% { -webkit-transform: translateX(500px); transform: translateX(500px); opacity: 0; }
  100% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; } }
@keyframes fade-in-right { 0% { -webkit-transform: translateX(500px); transform: translateX(500px); opacity: 0; }
  100% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; } }
.fade-in-right { -webkit-animation-name: fade-in-right; animation-name: fade-in-right; }

@-webkit-keyframes fade-out-right { 0% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; }
  100% { -webkit-transform: translateX(500px); transform: translateX(500px); opacity: 0; } }
@keyframes fade-out-right { 0% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; }
  100% { -webkit-transform: translateX(500px); transform: translateX(500px); opacity: 0; } }
.fade-out-right { -webkit-animation-name: fade-out-right; animation-name: fade-out-right; }

@-webkit-keyframes fade-in-right-sm { 0% { -webkit-transform: translateX(100px); transform: translateX(100px); opacity: 0; }
  100% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; } }
@keyframes fade-in-right-sm { 0% { -webkit-transform: translateX(100px); transform: translateX(100px); opacity: 0; }
  100% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; } }
.fade-in-right-sm { -webkit-animation-name: fade-in-right-sm; animation-name: fade-in-right-sm; }

@-webkit-keyframes fade-out-right-sm { 0% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; }
  100% { -webkit-transform: translateX(100px); transform: translateX(100px); opacity: 0; } }
@keyframes fade-out-right-sm { 0% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; }
  100% { -webkit-transform: translateX(100px); transform: translateX(100px); opacity: 0; } }
.fade-out-right-sm { -webkit-animation-name: fade-out-right-sm; animation-name: fade-out-right-sm; }

@-webkit-keyframes fade-in-right-lg { 0% { -webkit-transform: translateX(1500px); transform: translateX(1500px); opacity: 0; }
  100% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; } }
@keyframes fade-in-right-lg { 0% { -webkit-transform: translateX(1500px); transform: translateX(1500px); opacity: 0; }
  100% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; } }
.fade-in-right-lg { -webkit-animation-name: fade-in-right-lg; animation-name: fade-in-right-lg; }

@-webkit-keyframes fade-out-right-lg { 0% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; }
  100% { -webkit-transform: translateX(1500px); transform: translateX(1500px); opacity: 0; } }
@keyframes fade-out-right-lg { 0% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 1; }
  100% { -webkit-transform: translateX(1500px); transform: translateX(1500px); opacity: 0; } }
.fade-out-right-lg { -webkit-animation-name: fade-out-right-lg; animation-name: fade-out-right-lg; }

@-webkit-keyframes rotate-in { 0% { -webkit-transform: rotate(-90deg); transform: rotate(-90deg); -webkit-transform-origin: center center; transform-origin: center center; opacity: 0; }
  100% { -webkit-transform: rotate(0); transform: rotate(0); -webkit-transform-origin: center center; transform-origin: center center; opacity: 1; } }
@keyframes rotate-in { 0% { -webkit-transform: rotate(-90deg); transform: rotate(-90deg); -webkit-transform-origin: center center; transform-origin: center center; opacity: 0; }
  100% { -webkit-transform: rotate(0); transform: rotate(0); -webkit-transform-origin: center center; transform-origin: center center; opacity: 1; } }
.rotate-in { -webkit-animation-name: rotate-in; animation-name: rotate-in; }

@-webkit-keyframes rotate-out { 0% { -webkit-transform: rotate(0); transform: rotate(0); -webkit-transform-origin: center center; transform-origin: center center; opacity: 1; }
  100% { -webkit-transform: rotate(90deg); transform: rotate(90deg); -webkit-transform-origin: center center; transform-origin: center center; opacity: 0; } }
@keyframes rotate-out { 0% { -webkit-transform: rotate(0); transform: rotate(0); -webkit-transform-origin: center center; transform-origin: center center; opacity: 1; }
  100% { -webkit-transform: rotate(90deg); transform: rotate(90deg); -webkit-transform-origin: center center; transform-origin: center center; opacity: 0; } }
.rotate-out { -webkit-animation-name: rotate-out; animation-name: rotate-out; }

@-webkit-keyframes rotate-in-sm { 0% { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-transform-origin: center center; transform-origin: center center; opacity: 0; }
  100% { -webkit-transform: rotate(0); transform: rotate(0); -webkit-transform-origin: center center; transform-origin: center center; opacity: 1; } }
@keyframes rotate-in-sm { 0% { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-transform-origin: center center; transform-origin: center center; opacity: 0; }
  100% { -webkit-transform: rotate(0); transform: rotate(0); -webkit-transform-origin: center center; transform-origin: center center; opacity: 1; } }
.rotate-in-sm { -webkit-animation-name: rotate-in-sm; animation-name: rotate-in-sm; }

@-webkit-keyframes rotate-out-sm { 0% { -webkit-transform: rotate(0); transform: rotate(0); -webkit-transform-origin: center center; transform-origin: center center; opacity: 1; }
  100% { -webkit-transform: rotate(45deg); transform: rotate(45deg); -webkit-transform-origin: center center; transform-origin: center center; opacity: 0; } }
@keyframes rotate-out-sm { 0% { -webkit-transform: rotate(0); transform: rotate(0); -webkit-transform-origin: center center; transform-origin: center center; opacity: 1; }
  100% { -webkit-transform: rotate(45deg); transform: rotate(45deg); -webkit-transform-origin: center center; transform-origin: center center; opacity: 0; } }
.rotate-out-sm { -webkit-animation-name: rotate-out-sm; animation-name: rotate-out-sm; }

@-webkit-keyframes rotate-in-lg { 0% { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); -webkit-transform-origin: center center; transform-origin: center center; opacity: 0; }
  100% { -webkit-transform: rotate(0); transform: rotate(0); -webkit-transform-origin: center center; transform-origin: center center; opacity: 1; } }
@keyframes rotate-in-lg { 0% { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); -webkit-transform-origin: center center; transform-origin: center center; opacity: 0; }
  100% { -webkit-transform: rotate(0); transform: rotate(0); -webkit-transform-origin: center center; transform-origin: center center; opacity: 1; } }
.rotate-in-lg { -webkit-animation-name: rotate-in-lg; animation-name: rotate-in-lg; }

@-webkit-keyframes rotate-out-lg { 0% { -webkit-transform: rotate(0); transform: rotate(0); -webkit-transform-origin: center center; transform-origin: center center; opacity: 1; }
  100% { -webkit-transform: rotate(180deg); transform: rotate(180deg); -webkit-transform-origin: center center; transform-origin: center center; opacity: 0; } }
@keyframes rotate-out-lg { 0% { -webkit-transform: rotate(0); transform: rotate(0); -webkit-transform-origin: center center; transform-origin: center center; opacity: 1; }
  100% { -webkit-transform: rotate(180deg); transform: rotate(180deg); -webkit-transform-origin: center center; transform-origin: center center; opacity: 0; } }
.rotate-out-lg { -webkit-animation-name: rotate-out-lg; animation-name: rotate-out-lg; }

@-webkit-keyframes flip-in-x { 0% { -webkit-transform: perspective(550px) rotateX(90deg); transform: perspective(550px) rotateX(90deg); opacity: 0; }
  100% { -webkit-transform: perspective(550px) rotateX(0deg); transform: perspective(550px) rotateX(0deg); opacity: 1; } }
@keyframes flip-in-x { 0% { -webkit-transform: perspective(550px) rotateX(90deg); transform: perspective(550px) rotateX(90deg); opacity: 0; }
  100% { -webkit-transform: perspective(550px) rotateX(0deg); transform: perspective(550px) rotateX(0deg); opacity: 1; } }
.flip-in-x { -webkit-animation-name: flip-in-x; animation-name: flip-in-x; -webkit-backface-visibility: visible !important; backface-visibility: visible !important; }

@-webkit-keyframes flip-out-x { 0% { -webkit-transform: perspective(550px) rotateX(0deg); transform: perspective(550px) rotateX(0deg); opacity: 1; }
  100% { -webkit-transform: perspective(550px) rotateX(90deg); transform: perspective(550px) rotateX(90deg); opacity: 0; } }
@keyframes flip-out-x { 0% { -webkit-transform: perspective(550px) rotateX(0deg); transform: perspective(550px) rotateX(0deg); opacity: 1; }
  100% { -webkit-transform: perspective(550px) rotateX(90deg); transform: perspective(550px) rotateX(90deg); opacity: 0; } }
.flip-out-x { -webkit-animation-name: flip-out-x; animation-name: flip-out-x; -webkit-backface-visibility: visible !important; backface-visibility: visible !important; }

@-webkit-keyframes flip-in-x-nr { 0% { -webkit-transform: perspective(100px) rotateX(90deg); transform: perspective(100px) rotateX(90deg); opacity: 0; }
  100% { -webkit-transform: perspective(100px) rotateX(0deg); transform: perspective(100px) rotateX(0deg); opacity: 1; } }
@keyframes flip-in-x-nr { 0% { -webkit-transform: perspective(100px) rotateX(90deg); transform: perspective(100px) rotateX(90deg); opacity: 0; }
  100% { -webkit-transform: perspective(100px) rotateX(0deg); transform: perspective(100px) rotateX(0deg); opacity: 1; } }
.flip-in-x-nr { -webkit-animation-name: flip-in-x-nr; animation-name: flip-in-x-nr; -webkit-backface-visibility: visible !important; backface-visibility: visible !important; }

@-webkit-keyframes flip-out-x-nr { 0% { -webkit-transform: perspective(100px) rotateX(0deg); transform: perspective(100px) rotateX(0deg); opacity: 1; }
  100% { -webkit-transform: perspective(100px) rotateX(90deg); transform: perspective(100px) rotateX(90deg); opacity: 0; } }
@keyframes flip-out-x-nr { 0% { -webkit-transform: perspective(100px) rotateX(0deg); transform: perspective(100px) rotateX(0deg); opacity: 1; }
  100% { -webkit-transform: perspective(100px) rotateX(90deg); transform: perspective(100px) rotateX(90deg); opacity: 0; } }
.flip-out-x-nr { -webkit-animation-name: flip-out-x-nr; animation-name: flip-out-x-nr; -webkit-backface-visibility: visible !important; backface-visibility: visible !important; }

@-webkit-keyframes flip-in-x-fr { 0% { -webkit-transform: perspective(1000px) rotateX(90deg); transform: perspective(1000px) rotateX(90deg); opacity: 0; }
  100% { -webkit-transform: perspective(1000px) rotateX(0deg); transform: perspective(1000px) rotateX(0deg); opacity: 1; } }
@keyframes flip-in-x-fr { 0% { -webkit-transform: perspective(1000px) rotateX(90deg); transform: perspective(1000px) rotateX(90deg); opacity: 0; }
  100% { -webkit-transform: perspective(1000px) rotateX(0deg); transform: perspective(1000px) rotateX(0deg); opacity: 1; } }
.flip-in-x-fr { -webkit-animation-name: flip-in-x-fr; animation-name: flip-in-x-fr; -webkit-backface-visibility: visible !important; backface-visibility: visible !important; }

@-webkit-keyframes flip-out-x-fr { 0% { -webkit-transform: perspective(1000px) rotateX(0deg); transform: perspective(1000px) rotateX(0deg); opacity: 1; }
  100% { -webkit-transform: perspective(1000px) rotateX(90deg); transform: perspective(1000px) rotateX(90deg); opacity: 0; } }
@keyframes flip-out-x-fr { 0% { -webkit-transform: perspective(1000px) rotateX(0deg); transform: perspective(1000px) rotateX(0deg); opacity: 1; }
  100% { -webkit-transform: perspective(1000px) rotateX(90deg); transform: perspective(1000px) rotateX(90deg); opacity: 0; } }
.flip-out-x-fr { -webkit-animation-name: flip-out-x-fr; animation-name: flip-out-x-fr; -webkit-backface-visibility: visible !important; backface-visibility: visible !important; }

@-webkit-keyframes flip-in-y { 0% { -webkit-transform: perspective(550px) rotateY(90deg); transform: perspective(550px) rotateY(90deg); opacity: 0; }
  100% { -webkit-transform: perspective(550px) rotateY(0deg); transform: perspective(550px) rotateY(0deg); opacity: 1; } }
@keyframes flip-in-y { 0% { -webkit-transform: perspective(550px) rotateY(90deg); transform: perspective(550px) rotateY(90deg); opacity: 0; }
  100% { -webkit-transform: perspective(550px) rotateY(0deg); transform: perspective(550px) rotateY(0deg); opacity: 1; } }
.flip-in-y { -webkit-animation-name: flip-in-y; animation-name: flip-in-y; -webkit-backface-visibility: visible !important; backface-visibility: visible !important; }

@-webkit-keyframes flip-out-y { 0% { -webkit-transform: perspective(550px) rotateY(0deg); transform: perspective(550px) rotateY(0deg); opacity: 1; }
  100% { -webkit-transform: perspective(550px) rotateY(90deg); transform: perspective(550px) rotateY(90deg); opacity: 0; } }
@keyframes flip-out-y { 0% { -webkit-transform: perspective(550px) rotateY(0deg); transform: perspective(550px) rotateY(0deg); opacity: 1; }
  100% { -webkit-transform: perspective(550px) rotateY(90deg); transform: perspective(550px) rotateY(90deg); opacity: 0; } }
.flip-out-y { -webkit-animation-name: flip-out-y; animation-name: flip-out-y; -webkit-backface-visibility: visible !important; backface-visibility: visible !important; }

@-webkit-keyframes flip-in-y-nr { 0% { -webkit-transform: perspective(100px) rotateY(90deg); transform: perspective(100px) rotateY(90deg); opacity: 0; }
  100% { -webkit-transform: perspective(100px) rotateY(0deg); transform: perspective(100px) rotateY(0deg); opacity: 1; } }
@keyframes flip-in-y-nr { 0% { -webkit-transform: perspective(100px) rotateY(90deg); transform: perspective(100px) rotateY(90deg); opacity: 0; }
  100% { -webkit-transform: perspective(100px) rotateY(0deg); transform: perspective(100px) rotateY(0deg); opacity: 1; } }
.flip-in-y-nr { -webkit-animation-name: flip-in-y-nr; animation-name: flip-in-y-nr; -webkit-backface-visibility: visible !important; backface-visibility: visible !important; }

@-webkit-keyframes flip-out-y-nr { 0% { -webkit-transform: perspective(100px) rotateY(0deg); transform: perspective(100px) rotateY(0deg); opacity: 1; }
  100% { -webkit-transform: perspective(100px) rotateY(90deg); transform: perspective(100px) rotateY(90deg); opacity: 0; } }
@keyframes flip-out-y-nr { 0% { -webkit-transform: perspective(100px) rotateY(0deg); transform: perspective(100px) rotateY(0deg); opacity: 1; }
  100% { -webkit-transform: perspective(100px) rotateY(90deg); transform: perspective(100px) rotateY(90deg); opacity: 0; } }
.flip-out-y-nr { -webkit-animation-name: flip-out-y-nr; animation-name: flip-out-y-nr; -webkit-backface-visibility: visible !important; backface-visibility: visible !important; }

@-webkit-keyframes flip-in-y-fr { 0% { -webkit-transform: perspective(1000px) rotateY(90deg); transform: perspective(1000px) rotateY(90deg); opacity: 0; }
  100% { -webkit-transform: perspective(1000px) rotateY(0deg); transform: perspective(1000px) rotateY(0deg); opacity: 1; } }
@keyframes flip-in-y-fr { 0% { -webkit-transform: perspective(1000px) rotateY(90deg); transform: perspective(1000px) rotateY(90deg); opacity: 0; }
  100% { -webkit-transform: perspective(1000px) rotateY(0deg); transform: perspective(1000px) rotateY(0deg); opacity: 1; } }
.flip-in-y-fr { -webkit-animation-name: flip-in-y-fr; animation-name: flip-in-y-fr; -webkit-backface-visibility: visible !important; backface-visibility: visible !important; }

@-webkit-keyframes flip-out-y-fr { 0% { -webkit-transform: perspective(1000px) rotateY(0deg); transform: perspective(1000px) rotateY(0deg); opacity: 1; }
  100% { -webkit-transform: perspective(1000px) rotateY(90deg); transform: perspective(1000px) rotateY(90deg); opacity: 0; } }
@keyframes flip-out-y-fr { 0% { -webkit-transform: perspective(1000px) rotateY(0deg); transform: perspective(1000px) rotateY(0deg); opacity: 1; }
  100% { -webkit-transform: perspective(1000px) rotateY(90deg); transform: perspective(1000px) rotateY(90deg); opacity: 0; } }
.flip-out-y-fr { -webkit-animation-name: flip-out-y-fr; animation-name: flip-out-y-fr; -webkit-backface-visibility: visible !important; backface-visibility: visible !important; }

@-webkit-keyframes zoom-in { 0% { -webkit-transform: scale(0.7); transform: scale(0.7); opacity: 0; }
  100% { opacity: 1; } }
@keyframes zoom-in { 0% { -webkit-transform: scale(0.7); transform: scale(0.7); opacity: 0; }
  100% { opacity: 1; } }
.zoom-in { -webkit-animation-name: zoom-in; animation-name: zoom-in; }

@-webkit-keyframes zoom-out { 0% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
  50% { -webkit-transform: scale(0.7); transform: scale(0.7); opacity: 0; }
  100% { opacity: 0; } }
@keyframes zoom-out { 0% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
  50% { -webkit-transform: scale(0.7); transform: scale(0.7); opacity: 0; }
  100% { opacity: 0; } }
.zoom-out { -webkit-animation-name: zoom-out; animation-name: zoom-out; }

@-webkit-keyframes zoom-in-sm { 0% { -webkit-transform: scale(0.95); transform: scale(0.95); opacity: 0; }
  100% { opacity: 1; } }
@keyframes zoom-in-sm { 0% { -webkit-transform: scale(0.95); transform: scale(0.95); opacity: 0; }
  100% { opacity: 1; } }
.zoom-in-sm { -webkit-animation-name: zoom-in-sm; animation-name: zoom-in-sm; }

@-webkit-keyframes zoom-out-sm { 0% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
  50% { -webkit-transform: scale(0.95); transform: scale(0.95); opacity: 0; }
  100% { opacity: 0; } }
@keyframes zoom-out-sm { 0% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
  50% { -webkit-transform: scale(0.95); transform: scale(0.95); opacity: 0; }
  100% { opacity: 0; } }
.zoom-out-sm { -webkit-animation-name: zoom-out-sm; animation-name: zoom-out-sm; }

@-webkit-keyframes zoom-in-lg { 0% { -webkit-transform: scale(0.4); transform: scale(0.4); opacity: 0; }
  100% { opacity: 1; } }
@keyframes zoom-in-lg { 0% { -webkit-transform: scale(0.4); transform: scale(0.4); opacity: 0; }
  100% { opacity: 1; } }
.zoom-in-lg { -webkit-animation-name: zoom-in-lg; animation-name: zoom-in-lg; }

@-webkit-keyframes zoom-out-lg { 0% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
  50% { -webkit-transform: scale(0.4); transform: scale(0.4); opacity: 0; }
  100% { opacity: 0; } }
@keyframes zoom-out-lg { 0% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
  50% { -webkit-transform: scale(0.4); transform: scale(0.4); opacity: 0; }
  100% { opacity: 0; } }
.zoom-out-lg { -webkit-animation-name: zoom-out-lg; animation-name: zoom-out-lg; }

@-webkit-keyframes overlay-slide-in-top { 0% { height: 100%; }
  100% { height: 0; } }
@keyframes overlay-slide-in-top { 0% { height: 100%; }
  100% { height: 0; } }
.overlay-slide-in-top { top: 0; height: 0; -webkit-animation-name: overlay-slide-in-top; animation-name: overlay-slide-in-top; }

@-webkit-keyframes overlay-slide-out-top { 0% { height: 0; }
  100% { height: 100%; } }
@keyframes overlay-slide-out-top { 0% { height: 0; }
  100% { height: 100%; } }
.overlay-slide-out-top { top: 0; height: 100%; -webkit-animation-name: overlay-slide-out-top; animation-name: overlay-slide-out-top; }

@-webkit-keyframes overlay-slide-in-bottom { 0% { height: 100%; }
  100% { height: 0; } }
@keyframes overlay-slide-in-bottom { 0% { height: 100%; }
  100% { height: 0; } }
.overlay-slide-in-bottom { bottom: 0; height: 0; -webkit-animation-name: overlay-slide-in-bottom; animation-name: overlay-slide-in-bottom; }

@-webkit-keyframes overlay-slide-out-bottom { 0% { height: 0; }
  100% { height: 100%; } }
@keyframes overlay-slide-out-bottom { 0% { height: 0; }
  100% { height: 100%; } }
.overlay-slide-out-bottom { bottom: 0; height: 100%; -webkit-animation-name: overlay-slide-out-bottom; animation-name: overlay-slide-out-bottom; }

@-webkit-keyframes overlay-slide-in-left { 0% { width: 100%; }
  100% { width: 0; } }
@keyframes overlay-slide-in-left { 0% { width: 100%; }
  100% { width: 0; } }
.overlay-slide-in-left { width: 0; -webkit-animation-name: overlay-slide-in-left; animation-name: overlay-slide-in-left; }

@-webkit-keyframes overlay-slide-out-left { 0% { width: 0; }
  100% { width: 100%; } }
@keyframes overlay-slide-out-left { 0% { width: 0; }
  100% { width: 100%; } }
.overlay-slide-out-left { left: 0; width: 100%; -webkit-animation-name: overlay-slide-out-left; animation-name: overlay-slide-out-left; }

@-webkit-keyframes overlay-slide-in-right { 0% { width: 100%; }
  100% { width: 0; } }
@keyframes overlay-slide-in-right { 0% { width: 100%; }
  100% { width: 0; } }
.overlay-slide-in-right { right: 0; width: 0; -webkit-animation-name: overlay-slide-in-right; animation-name: overlay-slide-in-right; }

@-webkit-keyframes overlay-slide-out-right { 0% { width: 0; }
  100% { width: 100%; } }
@keyframes overlay-slide-out-right { 0% { width: 0; }
  100% { width: 100%; } }
.overlay-slide-out-right { right: 0; width: 100%; -webkit-animation-name: overlay-slide-out-right; animation-name: overlay-slide-out-right; }
