.profile {
  @include pie-clearfix;

  &__img {
    float: left;
    width: 45%;
    height: 400px;
    background-image: image-url("profile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__content {
    float: right;
    width: 45%;
    margin-top: 10%;
    font-size: 13px;
  }

  &__name {
    display: inline-block;
    font-size: 25px;
    margin-right: 35px;
  }

  &__read {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
  }

  &__text {
    text-align: justify;
    line-height: 2;
    margin-top: 40px;
  }
}

.menu {
  &__item {
    float: left;
    width: 31%;
    line-height: 1.5;
    text-align: justify;

    &:nth-child(2) {
      margin: 0 3%;
    }
  }

  &__title {
    font-size: 18px;
    text-align: center;
  }

  &__img {
    background-image: image-url("menu1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
    margin: 30px 0 20px;
  }

  &__price {
    font-size: 18px;

    span {
      display: block;
      margin: 10px 0 15px;
      width: 40px;
      border-bottom: 1px solid $black;
      height: 1px;
    }
  }

  &__description {
    font-size: 13px;
  }

  &__content {
    margin-top: 15px;
    font-size: 11px;
  }
}

// スマホのみ
@media (max-width: $sp_max_width) {

  .profile {

    &__img {
      float: none;
      width: 100%;
      height: 230px;
    }

    &__content {
      float: none;
      width: 100%;
      margin-top: 20px;
      font-size: 12px;
    }

    &__name {
      display: block;
      font-size: 16px;
      margin-right: 0;
    }

    &__read {
      font-size: 10px;
      display: block;
      margin-top: 8px;
    }

    &__text {
      line-height: 1.8;
      margin-top: 15px;
    }
  }

  .menu {
    &__item {
      float: none;
      width: 100%;
      line-height: 1.5;
      margin-bottom: 30px;

      &:nth-child(2) {
        margin: 0 0 30px;
      }

      &:last-child {
        margin: 0;
      }
    }

    &__title {
      font-size: 15px;
    }

    &__img {
      background-image: image-url("menu1.jpg");
      height: 200px;
      margin: 15px 0;
    }

    &__price {
      font-size: 14px;

      span {
        margin: 10px 0 15px;
        width: 40px;
      }
    }

    &__description {
      font-size: 12px;
    }

    &__content {
      margin-top: 10px;
      font-size: 10px;
      line-height: 1.6;
    }
  }
}
