.container {
  @include pie-clearfix;
  position: relative;
  margin: 0;

  @media (min-width: $pc_min_width) {
    margin: 0 auto;
    width: 850px;
  }

  // タブレット以下
  @media (max-width: $tablet_max_width) {
    margin: 0 25px;
  }
}

.container--wide {
  @include pie-clearfix;
  position: relative;
  margin: 0;
  width: 100%;
}
